.example-spacer {
  flex: 1 1 auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

a {
  color: #fff;
  padding-right: 16px;
  text-decoration: none;
}

.active {
  color: yellow;
}

a:active,
a:hover {
  color: lightgray;
}
